.oneColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
}
.twoColumns > li {
  max-width: 130px;
  min-height: 340px;
  justify-content: space-around;
}
.twoColumns > li > img {
  width: 110px;
  height: 141px;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .twoColumns {
    justify-content: flex-start;
  }
  .twoColumns > li {
    margin: 8px;
  }
  .twoColumns > li > p {
    visibility: visible;
  }
}
